
html {
  font-family: Arial;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;
  
  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}
header {
  grid-column: 1 / 3;
  background: 
  /*url(ATLS3519/atls_media/hdrbckgrnd.jpg);*/  
  url(hdrbckgrnd.jpg);  
  color: white;
  padding: 4rem;
  text-align: center;
}

/*
.headerimg{
  grid-column: 1 / 3;
  background: url(hdrbckgrnd.jpg);
  background-size: cover;
}
*/

h1{
  font-size: 4rem; 
  color: #F7F2E9
}

.searchbar{
  overflow: hidden;
}

.searchbar input[type=text] {
  float: right;
  padding: .3rem;
  border: none;
  margin-top: .4rem;
  margin-right: .4rem;
  font-size: 1rem;
}
nav {
  white-space: nowrap;
  background: #203959 /*#6D75F1*/;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

@media (
  min-height: 50rem
  ) 
{
  nav ul {
    position: sticky;
    top: 0;
  }
}
nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #F7F2E9;
  text-decoration: none;
  font-weight: bold;
  width: 10rex;
}

nav ul li a.active{
  background color: #203959/*#5e8aad*/
  color:white;
}
 nav ul li a:focus{
  background color: #f0e442;
  color: #f0e442;
 }
nav ul li a:hover{
  background color: #f0e442;
  color: #f0e442;
}

main {
  padding-bottom: 25rem;
  background-color:#F7F2E9
}
section {
  padding: 1rem;
  margin: 0 0 2rem 0;
  color: #285BD4
}


.ftext{
  color: #F7F2E9
}
footer {
  grid-column: 1 / 3;
  background: #BA5B50;
  padding: 5rem 1rem;
}


